

<div class="relative overflow-x-auto shadow-md sm:rounded-lg flex items-center justify-center pt-5 ms-5 me-5 ">
    <table class="w-full text-sm text-left rtl:text-right text-accent dark:text-accent">
        <thead class="border-b border-secondary text-xs text-white uppercase bg-secondary dark:text-accent">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Session Topic
                </th>
                <th scope="col" class="px-6 py-3">
                   Difficulty
                </th>
                <th scope="col" class="px-6 py-3">
                   Score
                </th>
            </tr>
        </thead>
        <tbody>
          @for(session of sessionHistory; track session) {
            <tr (click)="selectSession(session)" class="bg-white border-b border-secondary" >
              <td scope="row" class="px-6 py-4 font-medium text-accent  dark:text-blue-100">
                {{session.topic_selection.topic.name}}
              </td>
              <td class="px-6 py-4">
                {{session.topic_selection.difficulty.name}}
              </td>
              <td class="px-6 py-4">
                {{session.answered_correctly}}/{{session.questions.length}}
              </td>
            </tr>
          }
        </tbody>
    </table>
</div>
