

<div class="relative overflow-x-auto shadow-md sm:rounded-lg flex items-center justify-center pt-5 ms-5 me-5 ">
    <table class="w-full text-sm text-left rtl:text-right text-blue-100 dark:text-accent">
        <thead class="text-xs text-accent uppercase bg-white dark:text-accent">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Session Topic
                </th>
              
                <th scope="col" class="px-6 py-3">
                   Difficulty
                </th>
                <th scope="col" class="px-6 py-3">
                   Score
                </th>
              
        </thead>
        <tbody>
            <tr class="bg-secondary border-b border-blue-400">
                <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                    JavaScript
                </th>
                <td class="px-6 py-4">
                    Mid-Level
                </td>
                <td class="px-6 py-4">
                    8/10
                </td>

            </tr>
          
           
          
           
        </tbody>
    </table>
</div>
