<p>topics works!</p>



<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-3xl  dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mb-4">
    <!-- Big Card Content -->
    <a href="#" class="block flex items-center justify-center flex-col">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Selecy a topic</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Select a topic to start a session</p>
    </a>

    <!-- Small Circle Cards -->
    <div class="flex justify-between mt-4 mb-6 text-gray-700">
        <a href="#" class="w-16 h-16 p-4 bg-white border border-gray-200 rounded-full shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <!-- Small Circle Card 1 Content -->
        </a>
        <a href="#" class="w-16 h-16 p-4 bg-white border border-gray-200 rounded-full shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <!-- Small Circle Card 2 Content -->
        </a>
        <a href="#" class="w-16 h-16 p-4 bg-white border border-gray-200 rounded-full shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <!-- Small Circle Card 3 Content -->
        </a>
        <a href="#" class="w-16 h-16 p-4 bg-white border border-gray-200 rounded-full shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <!-- Small Circle Card 4 Content -->
        </a>
    </div>
</div>

<div class="max-w-sm p-6 bg-white border  rounded-3xl  dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

    <!-- Small Circle Cards -->
    <div class="flex justify-between text-gray-600">
        <a href="#" class="w-16 h-16 p-4 bg-gray-300 border border-gray-300 rounded-full shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
           Easy
        </a>
        <a href="#" class="w-16 h-16 p-4 bg-gray-300 border-gray-300 rounded-full shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
           Med
        </a>
        <a href="#" class="w-16 h-16 p-4 bg-gray-300 border-gray-300 rounded-full shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
           Hard
        </a>
        <a href="#" class="w-16 h-16 p-4 bg-gray-300 border-gray-300 rounded-full shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
           Pro
        </a>
    </div>
</div>


    