<div class="pt-20">
  <div class="flex items-center justify-center">
    <div class="m-4">
      <img
        src="../../../assets/devdog.png"
        class="h-auto rounded-full shadow-md shadow-indigo-500/40 hover:shadow-indigo-500 bg-primary w-96"
        alt="devdog"
      />
    </div>
    <div class="m-4">
    <img
      src="../../../assets/codecat.png"
      class="h-auto rounded-full shadow-md shadow-indigo-500/40 hover:shadow-indigo-500 bg-secondary w-96"
      alt="codecat"
    />
    </div>
  </div>
  <div class="m-10">
  <div class="flex items-center justify-center">
    <button
      type="button"
      class="p-4 font-medium text-center text-white uppercase bg-gray-800 w-1/10 active:bg-black rounded-xl active:scale-105"
    >
      Get Started
    </button>
  </div>

  <div class="Topics">
    <app-topics/>
  </div>
  
  </div>
</div>
