<!-- <p>user works!</p>

<app-user-history />
<app-user-progress /> -->

<div class="flex items-center justify-center">

    <div class="m-4">
    <a href="/history" class="inline-block">
    <img
      src="../../../assets/history.png"
      class="h-auto rounded-full shadow-md shadow-indigo-500/40 hover:shadow-indigo-500 bg-secondary w-96"
      alt="codecat"
    />
        </a>
    </div>
    <div class="m-4">
      <a href="/progress" class="inline-block">
        <img
          src="../../../assets/progress.png"
          class="h-auto rounded-full shadow-md shadow-indigo-500/40 hover:shadow-indigo-500 bg-secondary w-96"
          alt="codecat"
        />
        </a>
        </div>
        <div class="m-4">
          <a href="/home" class="inline-block">
            <img
              src="../../../assets/topics.png"
              class="h-auto rounded-full shadow-md shadow-indigo-500/40 hover:shadow-indigo-500 bg-secondary w-96"
              alt="codecat"
            />
            </a>
            </div>
  </div>