<p>question-answer works!</p>

<div class="mt-4 justify-center">
  <div
    class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto"
  >
    <h5
      class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center"
    >
      Question 1
    </h5>

    <div class="mt-11">
      <!-- Answers -->
      <div
        class="block max-w-2xs p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mx-auto my-4"
      >
        <h5
          class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white text-center"
        >
          Answer 1
        </h5>
      </div>

      <div
        class="block max-w-2xs p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mx-auto my-4"
      >
        <h5
          class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white text-center"
        >
          Answer 2
        </h5>
      </div>

      <div
        class="block max-w-2xs p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mx-auto my-4"
      >
        <h5
          class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white text-center"
        >
          Answer 3
        </h5>
      </div>

      <div
        class="block max-w-2xs p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mx-auto my-4"
      >
        <h5
          class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white text-center"
        >
          Answer 4
        </h5>
      </div>
    </div>
  </div>
</div>

<p>{{questions[0].questionId}}</p>
