<div class="mt-4 justify-center">
  <div *ngIf="submit == null">
    <div *ngIf="currentQuestionIndex < questions.questions.length">
      <div
        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto mb-6"
      >
        <h5
          class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center"
        >
          {{ questions.questions[currentQuestionIndex].question.question_content.text }}
        </h5>

        <!-- Answers -->

        <div>
          @for(answer of
          questions.questions[currentQuestionIndex].question.question_content.answers; track
          answer){
          <div
            class="block max-w-2xs p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mx-auto my-4"
            (click)="handleAnswer(questions.questions[currentQuestionIndex].question, answer)"
          >
            <h5
              class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white text-center"
            >
              {{ answer.answer_content.text }}
            </h5>
          </div>
          }
        </div>
        <div class="mt-8 flex justify-center">
          <button
            type="button"
            class=" p-4 font-medium text-center text-white uppercase bg-gray-800 w-1/10 active:bg-black rounded-xl active:scale-105"
            (click)="handleSubmit()"
          >
            Submit
          </button>
        </div>
        
        
      </div>
    </div>
  </div>

   <!-- Done  with the  questions -->
  <div *ngIf="currentQuestionIndex  === questions.questions.length">
    <div
      class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto mb-6"
    >
    <img
      src="../../../assets/codedog.gif"
      class="h-auto shadow-md shadow-indigo-500/40 bg-secondary w-96"
      alt="session end"
      /> 
    <p>All questions are answered! Move to dashboard.</p>
    </div>
  </div>
  <!-- dashboard button here? -->

  <!-- Correct answer -->
  <div *ngIf="submit === true">
    <div class="mt-16 flex justify-center items-center">
      <div
        class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow text-accent text-center text-2xl font-bold"
      >
        {{ correctAnswer ? "Correct!" : "Incorrect" }}

        <!-- Display different GIFs based on correctAnswer -->
        <img *ngIf="correctAnswer" src="../../../assets/celebratedog.gif" alt="celebratedog" />
        <img *ngIf="!correctAnswer" src="../../../assets/nodog.gif" alt="nodog" />
      </div>
    </div>

    <!-- Next button -->
    <div class="mt-8 flex justify-center">
      <button
        type="button"
        class="p-4 font-medium text-center text-white uppercase bg-gray-800 w-1/10 active:bg-black rounded-xl active:scale-105"
        (click)="nextQuestion()"
      >
        Next
      </button>
    </div>

  </div>


</div>
